    .myHeader a {
    text-decoration:none;
    color: white;
    }
    body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    overflow-x: hidden;
    }
    .myHeader {
        grid-area: Header;
        background-color: black;  
        z-index: 9999;   
        position: fixed;  
        width: 100%;
        padding: 20px 0px 20px 30px;
        opacity: 1;
        display: grid;
        grid-template-columns: 175px auto auto;
        grid-template-rows: auto ;
        grid-template-areas: "myLogo Hyper Search"
    }
    #closeWindow {
        display: none;
    }
    .Hyperlinks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-area: Hyper;
        margin: 25px auto 0px 20px;
        font-weight: bold;
        font-size: 12px;
    }
    .Hyperlinks > div {
        padding: 5px 20px 5px 20px;
    }
    .Hyperlinks > div:hover {
        transition: 0.1s;
        text-decoration: underline;
    }
    .myHeader .myLogo {
        background-color: black;
        z-index: 9999;
        margin: auto;
        left: 0;
        grid-area: myLogo;
    }
    .search-container {
        grid-area: Search;
        display: flex;
        flex-direction: row-reverse;
        right: 0;
        margin: 20px 0px auto 0px;
    }
    .myHeader input[type=text] {
        padding: 6px;
        font-size: 13px;
        border: none;
    }
    .myHeader .search-container button {
        padding: 6px 5px;
        margin-top: 5px;
        margin-right: 35px;
        background: #ddd;
        font-size: 13px;
        border: none;
        cursor: pointer;
    }
    .myHeader .search-container button:hover {
        background: grey;
        color: white;
    }
    .search-button {
        display: none;
    }
          




    .myGenre {
        grid-area: Genres;
        background-color: grey;
        width: 100vw;
        padding: 108px 0 0 0 ;
        color: white;
        font-weight: bold;
        z-index: 999; 
        position: fixed;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    .myGenre > div {
        margin: 12px;
        padding: 2px 20px 2px 20px;
    }
    .myGenre > div:hover {
        background-color: #ddd;
        cursor: pointer;
        color: black;
    }
    .more {
        padding-left: 4px;
    }

    #moreGenres {
        display: none;
    }
    .moreGenres {
        grid-area: moreGenres;
        background-color: rgb(243, 243, 243);
        padding-top: 150px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        color: black;
        font-weight: bold;
        z-index: 9; 
        position: fixed;
        display: flex;
        flex-flow: row wrap;
        border-bottom: solid black;
        font-size: 12px;
    }
    .moreGenres > div {
        margin: 12px;
        padding: 2px 15px 2px 15px;
        position: relative;
        float:left;
    }
    .moreGenres > div:hover {
        background-color: #ddd;
        cursor: pointer;
        color: black;
    }


    audio {
        position: fixed;
        bottom: 5px;
        right: 3px;
        border: solid black;
        border-radius: 30px;
        z-index: 999;
    }
    
    .myGap {
        background-color: white;
        height: 25px;
        grid-area: Gap;
        border-top: solid rgb(201, 199, 199);
        border-bottom: solid rgb(201, 199, 199);
    }
    .myContact {
        grid-area: Contact;
        background-color: white;
        color: black;
        padding: 6px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto ;
        grid-template-areas: "Logo"
                            "Link"
                            "Note";
        place-content: center;
    }
    .myContact a {
        color: black;
        text-decoration: none;
        font-size: x-small;
    }
    .Logo {
        padding-top: 50px;
        grid-area: Logo;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 34%;
        margin-right: 34%;
    }
    .Logo img {
        padding: 15px;
    }
    .Links {
        grid-area: Link;
        display: flex;
        justify-content: space-evenly;
        place-content: center;
        margin-top: 5px;
    }
    .Links > div {
        border-right: solid rgb(201, 199, 199);
        padding: 3px 15px 3px 15px;
        margin: 0;
    }
    .Links .exception {
        border: solid white;
        padding: 3px 15px 3px 15px;
        margin: 0;
    }
    .Footnote {
        grid-area: Note;
        margin-bottom: 100px ;
        margin-top: 20px;
        text-align: center;
        font-size: x-small;
    }

    @media (max-width :900px) {
        
        .search-container {
            display: none;
        }
        .search-button {
            display: flex;
            flex-direction: row;
            margin-right: 30px;
        }
        .Searching img {
            padding: 5px;
            border-radius: 50%;
            background-color: white;
            margin: 20px 0px auto 20px;
        }
        .Searching img:hover {
            cursor: pointer;
        }

        .myGenre {
            display: flex;
            flex-flow: none;
            justify-content: left;
        }
        .moreGenres {
            padding-top: 150px;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
        .moreGenres > div {
            margin: 10px;
            padding: 2px 15px 2px 15px;
        }
        

    }

    @media (max-width :705px) {
        .myHeader {
            
            display: grid;
            grid-template-columns: 175px auto;
            grid-template-rows: auto ;
            grid-template-areas: "myLogo Search"
        }
        .search-button {
            display: flex;
            flex-direction: row-reverse;
            margin-right: 10%;
        }
        .Menu {
            display: inline-block;
            cursor: pointer;
            margin: 17px 0 auto 10px;
        }
          
          .Menu > div {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
          }

        
          
          .Hyperlinks {
            margin: 0;
            height: 100%;
            width: 150px;
            position: fixed;
            padding: 20px auto auto 100px;
            z-index: 9999;
            top: 0;
            left: -150px;
            background-color: rgba(17, 17, 17, 0.932);
            transition: 0.5s;
            display: flex;
            flex-direction: column;
          }
          .Hyperlinks > div {
              padding: 10px;
              margin-top: 35px;
              width: auto;
              font-size: 13px;
              color: white;
              display: block;
              text-decoration: none;
              transition: 0.3s;            
          }
          .Hyperlinks a {
              cursor: pointer;
          }
          #closeWindow {
              display: block;
              position: absolute;
              right: 5px;
              top: 3px;
              font-size: xx-large;
              margin: 0;
          }
          #closeWindow:hover {
              text-decoration: none;
              cursor: pointer;
          }
          
          

    }