.myWrapper {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "Header Header"
                        "Genres Genres"
                        "moreGenres moreGenres "
                        "Body Body"
                        "Gap Gap"
                        "Contact Contact"

}
.myBody {
    grid-area: Body;
    margin: 300px 18% 100px;
    background-color: white;
    line-height: 200%;
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 99%;
    font-size: 16px;
    padding: 12px 0px 12px 1%;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
  



