.myWrapper {
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "Header Header Header"
                        "Genres Genres Genres"
                        "moreGenres moreGenres moreGenres "
                        "Image Image Image"
                        "Shop Shop Shop"
                        "t1 t1 t1"
                        "Body1 Body1 Body1"
                        "t2 t2 t2"
                        "Body2 Body2 Body2"
                        "t3 t3 t3"
                        "Body3 Body3 Body3"
                        "Gap Gap Gap"
                        "Contact Contact Contact"

}
.HeaderImage {
    grid-area: Image;
    margin-top: 165px;
}
.bg-image {
    filter: blur(4px);
    width: 98%;
    place-content: center;
    margin-left: 1%;
    margin-right: 1%;
}
.title {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    padding: 30px;
    text-align: center;
  }

.myShop {
    grid-area: Shop;
    background-color: white;
    padding: 6px;
    margin: 200px  5%;
}
.Shop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Clothing, .Home, .Beauty {
    position: relative;
    flex: 33.33%;
    place-content: center;
    margin: 0;
    opacity: 1;
    display: block;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
    padding: 5px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.Clothing:hover .image, .Home:hover .image, .Beauty:hover .image {
    opacity: 0.3;
}
.Clothing:hover .middle, .Home:hover .middle, .Beauty:hover .middle {
    opacity: 1;
}
.text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.title1 {
    grid-area: t1;
}
.title2 {
    grid-area: t2;
}
.title3 {
    grid-area: t3;
}
.title1, .title2, .title3 {
    width: 90%;
    background-color: black;
    font-weight: bold;
    color: white;
    margin: 0 5%;
    padding-left: 15px;
}


.myBody1 {
    grid-area: Body1;  
}
.Section {
    flex: 33.33%;
    max-width: 33.33%;
    padding: auto;
}
.Section img {
    margin-top: 8px;
    width: 92%;
    vertical-align: middle;
    margin: 4%;
}
.Section img:hover {
    opacity: 0.5;
    transition: .5s ease;
}
.myBody2 {
    grid-area: Body2;
}
.myBody3 {
    grid-area: Body3;
}
.myBody1, .myBody2, .myBody3 {
    background-color:white;
    margin: 10px 5% 200px 5%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}


@media (max-width :900px) {

}

@media (max-width :705px) {

    .Shop {
        display: flex;
        flex-direction: column;
    }
}