.myWrapper {
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "Header Header Header"
                        "Genres Genres Genres"
                        "moreGenres moreGenres moreGenres "
                        "Body Body Body"
                        "Gap Gap Gap"
                        "Contact Contact Contact"

}
body {
    background-color: rgba(230, 222, 222, 0.356);
}
h2 {
    position: absolute;
    top: -42px;
    left: 3px;
}

.myBody {
    position: relative;
    grid-area: Body;
    background-color: white;
    padding: 40px ;
    margin: 300px 23% 100px 23%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
}
.PersonalInfo p {
    font-size: 15px;
    margin: auto;
    font-weight: bold;
}
 
.myBody input[type=text] {  
    padding: 7px;   
    width: 99%;
    font-size: 13px;  
    border: none;
    border-bottom: 1px solid grey;
}  
.Check {
    display: flex;
    justify-content: center;
}
input[type=checkbox] {
    margin-right: 10px;
    vertical-align: middle;
}
.PersonalInfo {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}
.SubmitButton {
    margin: 10px;
    display: flex;
    justify-content: center;
}
input[type=submit] {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}